@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #770036;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

section > div#imagem {
    display: block;
    background: white url("../images/pexels-lina-3639540.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    margin: 0px;
}

form > div.campo {
    background-color: #770036;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > input {
    background-color: #c2c7a7;
    height: 100%;
    border: 2px solid #770036;
    width: calc(100% - 45px);
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    background-color:#614f01;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color:  #2b2300;
    cursor: pointer;
}

form > a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:  white;
    color:  #2b2301;
    margin-top: 5px;
    padding-top: 7px;
    border: 1px solid  #614f01;
    border-radius: 5px;
    text-decoration: none;
}

form > a.button:hover{
    background-color:  #ac8d04;
}

form > a.button > span {
    font-size: 0.8em;
}